#if ($username)
  Welcome $username
  <form action="/chat" method="post">
    <button type="submit">Proceed to chat</button>
  </form>
#else
  <form action="/welcome" method="post">
    <label for="username">Your name</label>
    <input id="username" name="username" type="text">
    <button type="submit">Submit name</button>
  </form>
#end

<a href="/">Return to home page</a>